.container {
   
    height: 100vh;
    background-image: url(../img/18240979_v748-toon-103.jpg);
    background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}