$boxBackground: rgba(255, 255, 255, 0.5);
$fontColor: rgb(0, 0, 0);
$fontColorBoxH1: #1BA098;
$fontColorBox: #fff;
$shadowColor: rgba(145, 145, 145, 0.1);
$borderColor: rgba(145, 145, 145, 0.308);
$infoBoxColor: rgb(114, 121, 125);
$checkIconColor: #01dfd1;