.info {
    @include boxStyle();
    display: none;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;

    width: 45%;
    height: auto;
    background-color: $infoBoxColor;
    position: absolute;
    top: 20%;
    
    font-family: $webFont;
        font-size: 1.8rem;
        padding-bottom: 2rem;

&_top {
    font-size: 2.5rem;
    color: $fontColorBoxH1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
&_bottom {
    color: $fontColorBox;
    text-align: center;
   
}
}

.fa-circle-check{
    font-size: 2em;
    color: #ffffff;
}
